/* polices */
/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/oswald-v49-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('fonts/oswald-v49-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('fonts/oswald-v49-latin-regular.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('fonts/oswald-v49-latin-regular.woff') format('woff'),
      /* Modern Browsers */
      url('fonts/oswald-v49-latin-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */
      url('fonts/oswald-v49-latin-regular.svg#Oswald') format('svg');
    /* Legacy iOS */
  }
  
  
  body {
  
    font-family: 'Oswald';
  
  
  }
  
  
  
  /* Variables */
  
  :root {
  
    --fond-gris: #B1B5BE;
    --texte-nav: #707070;
  
  }
  
  
  
  
  
  /* Mini reset */
  * {
  
    margin: 0;
    padding: 0;
  
  }
  
  a {
  
    text-decoration: none;
  
  }
  
  
  ul {
  
    list-style-type: none;
  
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  @keyframes bodyentry {
      0% {
          opacity: 0;
          transform: translateX(-250px);
      }
  
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  body{
    animation: bodyentry 2s ease 0s 1 normal forwards;
    -webkit-animation: bodyentry 2s ease 0s 1 normal forwards;
  }
  /* ================= Header ============================ */
  @keyframes headerentry {
      0% {
          opacity: 0;
          transform: translateY(-250px);
      }
  
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  #entete {
    padding: 30px;
    animation: headerentry 1s ease 0s 1 normal forwards;
  }
  
  #logo {
    width: 100%;
    display: flex;
    justify-content: center;
  
  }
  
  #logo img {
    margin-top: -25px;
    width: 60%;
    padding-bottom: 10px;
    margin-left: 50px;
  
  }
  
  #navbar ul {
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
  
  
  }
  
  #navbar ul li a {
    color: var(--texte-nav);
    font-weight: 400;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  
  #navbar ul li a:hover {
  
  
    color: black;
  
  }
  
  /* ============================== Début du main content =================== */
  
  /* fond gris */
  .color {
    height: 80px;
    background-color: var(--fond-gris);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  
 

  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: var(--fond-gris);
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: var(--fond-gris);
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: var(--fond-gris);
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: var(--fond-gris);
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: var(--fond-gris);
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: black;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: black;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: var(--fond-gris);
  }
  
  
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: black;
    
    border: solid 1px var(--fond-gris);
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: var(--fond-gris);
    color: black;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: var(--fond-gris);
    color: black;
  }
  
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px var(--fond-gris);
    border-top: none;
  }
  
  #submit:hover {
    color: black;
  }

























  
  
  /* ===================== Pied De Page ======================= */

  .footer-distributed {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    width: 1200px;
    margin: auto;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #000000;
    font-size: 10px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: var(--texte-nav);
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
    text-transform: uppercase;
    
  }
  
  .footer-distributed p.footer-links a:hover{
  
  color: black;
  
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }