/* h1 (Moschino) */



/* li + a href */



/* menu smartphone */

#menu-burger {
   display: none;
}

/* création trait menu burger */

.bar1,
.bar2,
.bar3 {
   width: 35px;
   height: 7px;
   background-color: #000;
   margin: 7px 0;
   border-radius: 5px;
   transition: 0.4s;

}

.nav-smartphone {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.9);
   overflow-x: hidden;
   transition: 0.6s;
}

/* le menu a l'intérieur du menu burger */

.nav-smartphone-liens {
   position: relative;
   top: 25%;
   width: 100%;
   text-align: center;
}

.nav-smartphone a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block;
   transition: 0.5s;
}

.nav-smartphone a:hover,
.nav-smartphone a:focus {
   color: #f1f1f1;
}

.nav-smartphone .bouton-fermer {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
}

/* responsive */
@media all and (max-width: 768px) {

   /* corps de la page */
   
   body {
      width: 100%;
   }

   /* NAV */

   .nav {
      display: flex;
      justify-content: center;
      padding: 5px;
   }

   .menu {
      font-size: 2.5rem;
      padding: 5px;
      list-style: none;
   }

   .menu-ul {
      display: none;
   }

   #menu-burger {
      display: initial;
   }

}